html { position: relative; min-height: 100%; }
body { min-height: 60rem; padding-top: 3em; background: url('/assets/img/source.gif');}
body > .container { padding: 3em .5em 0; }

.navbar-toggler { border: 0; }

.footer {
position: absolute;
bottom: 0;
width: 100%;
height: 60px;
line-height: 60px;
background: #e9ecef;
}






